{% extends 'base.html.twig' %}

{% block title %}Contactez-nous <3{% endblock title %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-1">
                <a href="{{ path('home')}}"> <img src="{{ asset('/img/oisif.png') }}" alt="oisif agressif"></a>
            </div>
            <div class="col-sm">
                <h1>Ecrivez-nous <i class="far fa-kiss-wink-heart"></i></h1>
            </div>
        </div>        <p>Ici, laissez votre amour s'exprimer. Mais respectez le nombre de caractères maximum autorisés, sous peine de poursuites.</p>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Envoyer (à Satan)" class="btn btn-success" />
        {{ form_end(form) }}

    </div>

{% endblock %}